.teamMember {
  width: 9.76vw;
  height: 10.41vw;
  background-color: var(--white-color);
  box-shadow: 0px 0.65vw 1.88vw 0.065vw rgba(0, 0, 0, 0.06);
  border-radius: 0.32vw;
  margin-right: 2.21vw;
  margin-bottom: 1vw;
}
.teamMemberImg {
  width: 4.75vw;
  height: 4.75vw;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.57);
  margin-top: 0.911vw;
  margin-bottom: 0.45vw;
}
.teamMemberImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.teamMemberOption {
  margin-right: 0.65vw;
  margin-top: 0.65vw;
}
.alignTeamMember {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1.3vw;
}
.alignTeamMember p {
  margin: 0;
}
.memberName {
  font-weight: 500;
  font-size: 0.91vw;
  color: var(--nero-color);
}
.memberPosition {
  font-weight: 400;
  font-size: 0.65vw;
  color: rgba(35, 35, 35, 0.75);
}
.memberSocialProfile {
  display: flex;
  align-items: center;
  margin-top: 0.45vw;
}
.memberSocialProfile img {
  width: 1.3vw;
  height: 1.3vw;
  margin: 0 0.32vw;
}
