.settingLine {
  width: 90%;
  border: 0.03vw solid rgba(152, 152, 152, 0.28);
  margin-top: -0.97vw;
}
.settingLine2 {
  width: 88%;
  border: 0.03vw solid rgba(152, 152, 152, 0.28);
  margin-top: -0.97vw;
}
.settingSecurity {
  padding-left: 2.7vw;
}
.setting_heading_title {
  padding-top: 0.1vw;
}
.settingBox {
  width: 40vw;
  border-radius: 1vw;
  height: 26vw;
  background-color: var(--white-color);
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
