.current_balance {
  width: 27.01vw;
  height: 11.91vw;
  border-radius: 0.32vw;
  background-color: var(--white-color);
  box-shadow: 0px 0.26vw 4.62vw rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: center;
  align-items: center;
}
.currentBlnc {
  margin-left: 1.56vw;
}

.current_blnc_title {
  color: var(--nero-color);
  opacity: 0.6;
  font-size: 0.846vw;
  font-weight: 400;
  margin: 0;
}
.currentAmount {
  display: flex;
  margin-top: 0.65vw;
}
.current_blnc_amount {
  font-weight: 500;
  font-size: 2.343vw;
  color: var(--nero-color);
  margin: 0;
}
.amount_percent {
  margin-top: 0.065vw;
  margin-left: 0.52vw;
  font-size: 1.04vw;
  font-weight: 400;
  color: var(--purple-color);
}
.walletStats {
  display: flex;
}
.alignAmountDetails {
  margin-right: 1.82vw;
}
.walletImg {
  /* height: 100%; */
  width: 100%;
}
.walletImg img {
  width: 100%;
}
